.formContainer {
  display: flex;
  flex-direction: column;
align-items: start;
}

.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  width: 100%;
  max-width: 700px;
}

.form label {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.8rem;
}

.btn {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.btn .cancel {
  margin-left: 1rem;
  background-color: var(--gray);
  color: var(--black);
}

.btn .cancel:hover {
  background-color: #e5e5e5;
}

.btn button {
  color: white;
  background-color: var(--primary-color);
  padding: 0.75rem 1.8rem;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 700;
}
.btn button:hover {
  background-color: var(--secondary-color);
}
