.navigation {
  overflow: hidden;
}
.navigation ul {
  overflow: hidden;
  background-color: white;
  display: flex;
  width: 100%;
  align-items: center;
}

.navigation ul li:not(:last-child) {
  margin-right: 2rem;
}

.navigation a {
  text-decoration: none;
}

.activeLink {
  color: var(--primary-color) !important;
}

.menu {
  display: none;
  background-color: #0000;
  border: none;
  outline: none;
}

.menu div {
  background-color: var(--black);
  width: 27px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.2s linear;
  border-radius: 30px;
}

@media screen and (max-width: 576px) {
  .navigation ul {
    display: none;
  }
  .toggle ul {
    position: absolute;
    display: block;
    margin-top: 1.8rem;
    z-index: 999;
    right: 0;
    padding: 0rem 1.5rem;
    border-left: 0;
    border-right: 0;
  }
  .toggle ul li {
    display: block;
    margin-right: 0 !important;
    padding: 1rem 0;
    border-bottom: 1px solid var(--gray);
  }
  .toggle .menu {
    position: relative;
  }
  .toggle .menu .one {
    position: absolute;
    transform: rotate(45deg);
  }
  .toggle .menu .two {
    opacity: 0;
  }
  .toggle .menu .there {
    position: absolute;
    transform: rotate(-45deg);
    top: 0px;
  }
  .menu {
    position: relative;
    display: block;
  }
}
