.navigation ul {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
}

.navigation ul li:not(:last-child) {
  margin-right: 3rem;
}

.navigation a {
  color: rgb(56, 56, 56);
  text-decoration: none;
}

.activeLink {
  color: var(--primary-color) !important;
}
