.contact h3 {
  margin: 1.5rem 0;
}

.table {
  margin: auto;
  width: 100%;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title button {
  color: white;
  background-color: var(--primary-color);
  padding: 0.75rem 1.8rem;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 700;
}
.title button:hover {
  background-color: var(--secondary-color);
}

table,
th,
td {
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  text-align: start;
  padding: 1.5rem 1rem;
}

th {
  text-align: center;
}

tr:nth-child(2n) {
  background-color: #f8f9fa;
}

.text {
  display: flex;
  overflow: hidden;
}

.text span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 75vw;
}

@media screen and (max-width: 576px) {
  table,
  th,
  td {
    padding: 1rem 0.5rem;
  }
  .text span {
    width: 55vw;
  }
  .title button {
    padding: 0.6rem 1rem;
  }
}
