.contact h3 {
  margin: 1.5rem 0;
}

.table {
  margin: auto;
  width: 100%;
}

table,
th,
td {
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  text-align: start;
  padding: 1.5rem 1rem;
}

th {
  text-align: center;
}

tr:nth-child(2n) {
  background-color: #f8f9fa;
}

.tdEdit form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tdEdit span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 70vw;
}

.tdEdit button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 1.5rem;
}

.tdEdit button p {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.tdEdit button p:hover {
  background-color: var(--secondary-color);
}

@media screen and (max-width: 576px) {
  table,
  th,
  td {
    padding: 1rem 0.5rem;
  }
  .tdEdit span {
    width: 55vw;
  }
}
