.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 2px -2px var(--gray);
}

@media screen and (max-width: 576px) {
  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
}
