.empty {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  padding: 0 1rem;
}

.title p {
  margin-bottom: 2.2rem;
}

.title button {
  background-color: var(--primary-color);
  padding: 1rem 2.5rem;
  margin-bottom: 2rem;
  font-weight: 700;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: var(--primary-color) 0 0 0 0;
  }
  80% {
    box-shadow: #1a6ae000 0 0 0 9px;
  }
}

.title button:hover {
  background-color: var(--secondary-color);
}

@media screen and (max-width: 576px) {
  .title button {
    padding: 0.75rem 1.5rem;
  }
  .empty img {
    width: 100%;
    max-width: 200px;
  }
}
