.empty {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  padding: 0 1rem;
}

.title h2 {
  font-size: 5rem;
}

.title p {
  font-size: 3rem;
  margin-bottom:1rem ;
}

.title button {
  font-size: 2rem;
  background-color: var(--primary-color);
  padding: 1rem 2.5rem;
  margin-bottom: 2rem;
  font-weight: 700;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.title button:hover {
  background-color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  .notFound img {
    display: none;
  }
  .title {
    text-align: center;
    min-width: 300px;
    padding: 1rem;
  }
  .title h2 {
    font-size: 4rem;
  }
}
