* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --primary-color: #1982c4;
  --secondary-color: #0353a4;
  --gray: #f1f1f1;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
input,
button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: black;
}

input {
  padding: 0.5rem;
  outline: none;
  border: 2px solid rgb(241, 241, 241);
  border-radius: 3px;
  transition: all 0.2s linear;
}

input:focus {
  border: 2px solid var(--primary-color);
}
